<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/base}">
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/css/custom.css" type="text/css"/>
</head>
<body>
<div layout:fragment="content">
    <div class="card">
        <form action="/registration" method="post">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            First Name: <input type="text" class="form-group" name="first_name" placeholder="First Name"/><br/>
            Last Name: <input type="text" class="form-group" name="last_name" placeholder="Last Name"/><br/>
            Username: <input type="text" class="form-group" name="username" placeholder="Username" /><br/>
            Email: <input type="text" class="form-group" name="email" placeholder="Email"/><br/>
            Password: <input type="password" class="form-group" name="password" placeholder="Password"/><br/>
            <input type="submit" class="btn btn-primary" value="Sign Up"/>
        </form>
    </div>
</div>
</body>
<th:block layout:fragment="scripts"></th:block>
</html>